@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: blanchedalmond;
    margin: 0;
    font-family: 'IBM Plex Mono';
    list-style: none;
}

:root {
    --primary-color: wheat;
    --secondary-color: white;
}

input:focus,
select:focus {
    outline: none;
}

input[type="text"]::placeholder {
    color: black;
    font-weight: 500;
}

input[type="text"] {
    background-color: white;
    font-weight: 700;
    padding: 12px 18px;
    border-radius: 4px;
    border: solid 2px #121212;
}

select,
option {
    background-color: white;
    font-weight: 500;
    padding: 12px 18px;
    border-radius: 4px;
    border: solid 2px #121212;
    cursor: pointer;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-weight: 700;
    padding: 12px 18px;
    border-radius: 4px;
    border: solid 2px #121212;
    box-shadow: 4px 4px #121212;
    transition: transform 50ms,
        box-shadow 50ms;
    margin-bottom: 16px;
    position: relative;
}

button.primary-color {
    background-color: var(--primary-color);
}

button.secondary-color {
    background-color: var(--secondary-color);
}

button:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px #121212;
    cursor: pointer;
}

.form {
    border: 2px solid #121212;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 4px 4px 0px 0px #121212;
}

.form label {
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;
}

.form input,
.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #121212;
    border-radius: 4px;
}

.form input[type="text"]::placeholder {
    color: #555;
}

.form .button-container {
    display: flex;
    padding-right: 4px;
    justify-content: space-between;
}

.image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
}

.image img {
    width: 100%;
    justify-content: center;
    align-items: center;
}